#services-section{
    padding: 5.33em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.77em;
    h1{
        text-align: center;
    }
    #services-section-container{
        @media only  screen and (max-width: 786px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:1.77em;
            .service-section{
                transform: scaleX(1.5);
                height: 15rem;
            }
        }
        .service-section{
            background-color: antiquewhite;
            width: 10rem;
            height: 11.88rem;
        }
        #slider{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap:1.77em;
            button{
                background-color: transparent;
                cursor: default;
                .icon-btn{
                    cursor: pointer;
                    transition: 0.4s;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
            }
    }
}