@import "../../style/colors";
#intro-section{
  padding: 7.11em 14.22em;
  @media only  screen and (max-width: 838px) {
    padding: 3.05em 3.5em;
}
  justify-content: center;
    h1{
      background-image: linear-gradient(to bottom,$primary-light-color,$secondary-light-color);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      #username{
        font-weight: 500;
        text-transform: capitalize;
      }
    }
    
    .separator{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.65em;
        .description{
          max-width: 50.55rem;
        }
    }

}