@import "../../style/colors";

header{
    padding: 1.777em 3.55em;
    border-bottom: 2px solid $black-25;

    @media only  screen and (max-width: 560px) {
        padding-left: 0;
        padding-right: 0;
    }
    #social-media{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:1.77em;
        .icon{
            width: 1.77rem;
            height: 1.77rem;
        }
        max-width: 160px;
    }


    #header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        #header-first-section{
            @extend #header-container ;
            gap:3.55em;
            #logo{
                font-size: 1.77rem!important;
                font-weight: 900;
                max-width: 22.22em;
                a{
                    color:$primary-light-color;
                }
            }
            #navbar{
                #navlist{
                    @extend #header-first-section ;
                    list-style: none;
                    gap:1.77em;
                }
            }
        }

        

        #header-second-section{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap:3.55em;
            #email-phone{
                @extend #header-first-section ;
                font-size: 0.722rem;
                gap: 1.33em;
                p{
                    font-weight: 700;
                }
                #phone-num{
                    color:$black-100;
                }
                @media only  screen and (max-width: 560px) {
                    flex-direction: column-reverse;
                    gap: 0;
                }
            }
            .vertical-line{
                background-color: $black-25;
                width: 2px;
                height: 30px;
            }
        }
        #toggle-btn{
            background: transparent;
            border: none;
            width: 32px;
            height: 32px;
            cursor: pointer;
        }
        @media only  screen and (max-width: 560px) {
            justify-content: space-around;
        }
    }
    #navbar-responsive{
        margin-top: 1.777em;
        #navlist{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap:1.77em;
        }
    }
    #navbar-responsive-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.33em;
    }
}